.main {
    width: 1600px;
    margin: 0 auto;
}
.slotMachine{
    margin:0 30%;
}
h1{
    font-size: 80px;
}
.shutter{
    height:80px;
    overflow: hidden;
}
li{
    font-size: 50px;
    list-style: none;
}
#bt{
    padding:20px;
    font-size:30px;
    margin-left:20%;
    margin-top:10%;
}